body {
  font-family: Truculenta, sans-serif;
  background-color: #181417;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url("../images/kihei-beach.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px;
}

h1 {
  font-family: "Original Surfer", sans-serif;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}

h2 {
  font-size: 48px;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  background: white;
  text-decoration: none;
  color: #1f191c;
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}

@media (max-width: 800px) {
  header {
    padding: 30px 0;
    margin: 0;
    width: 100%;
    overflow: hidden;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }

  header a {
    font-size: 12px;
    padding: 12px 24px;
    margin-top: 16px;
  }
}
