body {
  font-family: Truculenta, sans-serif;
  background-color: #181417;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url("../images/kihei-beach.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px;
}

h1 {
  font-family: "Original Surfer", sans-serif;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}

h2 {
  font-size: 48px;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  background: white;
  text-decoration: none;
  color: #1f191c;
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
}

section {
  max-width: 1200px;
  margin: 80px auto;
}

footer {
  background-image: linear-gradient(
      rgba(24, 20, 23, 0.8),
      rgba(24, 20, 23, 0.9)
    ),
    url("../images/kula-maui.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 100px 0;
}

footer h3 {
  font-size: 20px;
  line-height: 30px;
}

footer p {
  font-size: 16px;
  line-height: 24px;
  opacity: 0.9;
  margin-right: 20px;
}

footer li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul {
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.7;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
}

@media (max-width: 960px) {
  header {
    padding: 30px 0;
    margin: 0;
    width: 100%;
    overflow: hidden;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }

  header a {
    font-size: 12px;
    padding: 12px 24px;
    margin-top: 16px;
  }
}
